#home {
    font-family: 'Fascinate', cursive;
    font-family: 'Grape Nuts', cursive;
    margin: 1rem;
    font-weight: bold;
    font-size: 2em;
}

#navbutton {
    font-family: 'Fascinate', cursive;
    font-family: 'Grape Nuts', cursive;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.5em;
    
}

.button {
    color: white;
}

.button:hover {
    color: red;
}

video {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}


.social-network {
    list-style: none;
    color: white;
}

.social-network-twit:hover {
    color: rgb(94, 204, 255);
}

.social-network-fb:hover {
    color: rgb(0, 60, 255);
}

.social-network-ytb:hover {
    color: rgb(255, 0, 0);
}

#sn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

#copyright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}